terraform {
    backend "s3" {
        endpoint    = "storage.yandexcloud.net"
        bucket      = "<BUCKET_NAME>"
        region      = "us-east-1"
        key         = "terraform-crawler.tfstate"
        access_key  = "<ACCESS_KEY>"
        secret_key  = "<SECRET_KEY>"

        skip_region_validation      = true
        skip_credentials_validation = true
    }
}
