---
global:
  scrape_interval: '5s'

scrape_configs:
  - job_name: 'monitoring'
    static_configs:
      - targets:
        - 'node-exporter:9100'
        labels:
          instance: "monitoring-node-01"
      - targets:
        - 'prometheus:9090'
        labels:
          instance: "prometheus-01"
      - targets:
        - "{{ hostvars['gitlab-host'].ansible_host }}:9100"
        labels:
          instance: "gitlab-ci-01"
